* {
  box-sizing: border-box;
}

p {
  margin-top: 5px;
  padding: 0 20px;
}

span {
  display: inline;
}

body {
  background: linear-gradient(rgba(from var(--bg-color) r g b / 0.8),
      hsl(from var(--bg-color) h calc(s * 0.5) 20 /0.8)),
    url(../imgs/code.png);
  margin: 0;
  padding: 0;
  font-family: var(--font);
  /* #region vars */
  --font: "Lato";
  /* Sizes */
  --max-sidebar-width: clamp(10dvw, 40dvw, 70dvw);
  /* Index */
  --index-lv2-width: 40px;
  --index-lv3-width: 40px;
  --index-lv4-width: 35px;
  --index-search-size: 1rem;
  --index-font-size: 0.8rem;
  --selectable--margin: 0.5rem;
  --index-gap: 5px;
  --index-drop-down-width: 20px;
  --index-after-width: 2px;
  /* Colors */
  --main-color: #ecf09d;
  --bg-color: #fcff41;
  --code-box-color: #222222;
  --links-color: #8a9715;
  --links-color-hovered: #cea800;
  /* Code  Colors*/
  --code-color: #f8f8f2;
  --decl-color: #40b5d0;
  --code-literal-color: #6b74d6;
  --str-color: #ddda59;
  --val-color: #e27bc7;
  --code-keyword-color: #f08bc3;
  /* Index */
  --index-color: #eef775;
  --index-lines-color: #a6a619;
  --index-text-color: #8b8d00;
  --box--bg-color: color-mix(in srgb, var(--bg-color) 60%, #e6e3e3 40%);
  --text-color: #8a2be2;
  --selectable-color: #006eff;
  --vars-color: #4687ff;
  --functions-color: #03995f;
  --classes-color: #c25f0e;
  /* #endregion */
}

strong {
  font-weight: 900;
}

/* #region sections */
main>section {
  display: flex;
  flex-direction: column;
}

section {
  box-shadow: 0 -1px 30px 3px #0004;
  background-color: var(--main-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section:nth-of-type(n):not(:first-of-type):before {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 30px;
  position: relative;
  z-index: -1;
}

/* #endregion */
/* #region headers */
.header__container :is(h1, h2, h3, h4) {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: 5px 10px;
  padding-bottom: 0;
  margin-bottom: 0px;

  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: var(--main-color);
  /* filter: drop-shadow(0 0px 4px #0007); */
  box-shadow: 0 0 14px #0007;
}

h1 {
  margin: 10px 0;
  margin-left: 20px;
  background-color: transparent;
  font-size: 2.6rem;
}

.header__container {
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
}

.header__container :is(h1, h2, h3, h4, h5)::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--main-color);
  clip-path: polygon(100% 1%, 100% 100%, 0 100%, 13% 93%, 24% 89%, 33% 83%, 45% 78%, 57% 72%, 69% 63%, 75% 52%, 82% 42%, 88% 32%, 93% 21%, 96% 10%);
  /* background-color: #fff; */
  left: -14px;
  bottom: -1px;
}

.header__container :is(h1, h2, h3, h4, h5)::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;

  bottom: 0px;
  right: -15px;
  clip-path: polygon(100% 1%, 100% 100%, 0 100%, 13% 93%, 24% 89%, 33% 83%, 45% 78%, 57% 72%, 69% 63%, 75% 52%, 82% 42%, 88% 32%, 93% 21%, 96% 10%);
  transform: rotateY(180deg);
  background-color: var(--main-color);
}

.header__container:has(h1) {
  background-color: transparent;
}

.header__container h2 {
  margin-left: 45px;
  font-size: 2.2rem;
}

.header__container h3 {
  font-size: 1.7rem;
  margin-left: 65px;
}

.header__container h3::after {
  height: 10px;
  width: 10px;
  right: -10px;
}

.header__container h3::before {
  height: 10px;
  width: 10px;
  left: -9px;
}

.header__container>h4 {
  font-size: 1.2rem;
  margin-left: 85px;
}

.header__container h4::before {
  height: 7px;
  width: 7px;
  left: -6px;
}

.header__container h4::after {
  height: 7px;
  width: 7px;
  right: -7px;
}

/* #endregion */
main {
  margin: 0px auto;
  max-width: 50dvw;
  width: 100%;
  min-width: 500px;
}

/* #region para documentación */
.var {
  color: var(--vars-color);
  font-weight: 900;
}

.func {
  color: var(--functions-color);
  font-weight: 900;
}

.class {
  color: var(--classes-color);
  font-weight: 900;
}

.val {
  color: var(--val-color);
  font-weight: 900;
}

/* #endregion */
/* #region para código */
.string {
  color: var(--str-color);
}

.literal {
  color: var(--code-literal-color);
}

.key {
  color: var(--code-keyword-color);
}

.decl {
  color: var(--decl-color);
}

p {
  color: var(--text-color);
  overflow-wrap: pretty;
  font-size: clamp(0.3rem, 1rem, 3rem);
}

p a,
.box__title a {
  text-decoration: none;
  color: var(--links-color);
  font-weight: 700;
}

p a:hover,
.box__title a:hover {
  color: var(--links-color-hovered);
  transition: color 0.3s;
}

/* #endregion */
/* #region index */
.index {
  position: sticky;
  height: 100dvh;
  font-size: var(--index-font-size);
  display: flex;
  max-width: var(--max-sidebar-width);
  width: 20dvw;
  min-width: 200px;
  top: 0;
}

/* #region search */
.index__search__ul__container {
  transition-duration: 0.2s;
  overflow: hidden;
  width: 100%;
  background-color: var(--main-color);
  transition-property: padding, width;
  display: flex;
  flex-direction: column;
}

.index__search__container {
  width: 90%;
  margin: auto;
  position: relative;
}

.index__search-bar {
  position: relative;
  width: 90%;
  padding: 0 0 0 20px;
  margin: 7px auto;
  outline: none;
  border-radius: 7px;
  border-color: #0005;
  border-top-width: 1px;
  /* background-color: color-mix(in srgb, var(--main-color) 90%, #000 6%); */
  background-color: hsl(from var(--main-color) h s calc(l * 0.8));
}

.index__search-bar:focus {
  background-color: color-mix(in srgb, var(--main-color) 80%, #000 20%);
  background-color: hsl(from var(--main-color) h calc(s * 0.8) calc(l * 0.8));
}

.index__search-bar::-webkit-search-cancel-button {
  display: none;
}

.index__search__icon {
  display: block;
  font-size: var(--index-search-size);
  position: absolute;
  color: var(--index-lines-color);
  top: calc(var(--index-search-size) / 2);
  left: 3px;
  z-index: 1;
  font-weight: 900;
}

/* #endregion */
.main-wrapper {
  display: flex;
}

.index__container {
  display: flex;
  background-color: var(--main-color);
  flex-direction: column;
  /* gap: 30px; */
  margin: 0;
  height: 100%;
  padding: 0px 0px 0px 10px;
  list-style: none;
  overflow: hidden;
}

/* #region sections */
.index__item__label {
  padding-right: var(--index-drop-down-width);
  height: 100%;
  position: relative;
}

.index__item__label::before {
  background-color: var(--index-lines-color);
  width: 100%;
  height: var(--index-after-width);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.index__item__label:hover {
  cursor: pointer;
}

.index__item:has(.index__lv2) .index__item__label {
  margin: 0;
  margin-left: calc(0.5 * var(--index-drop-down-width) + var(--index-after-width) * 0.5);
  padding-right: var(--index-lv2-width);
}

.last__index__item::after {
  display: none;
}

.last__index__item:has(.index__lv3)::after {
  display: none;
}

.index__item::after {
  position: absolute;
  content: "";
  width: var(--index-after-width);
  height: calc(100% + var(--index-gap));
  background-color: var(--index-lines-color);
  top: 50%;
  left: calc(var(--index-drop-down-width) * 0.5 - var(--index-after-width) * 0.5);
}

.index__item:has(.index__lv3) .index__item__label {
  margin: 0;
  margin-left: calc(0.5 * var(--index-drop-down-width) + 0.5 * var(--index-lv2-width));
  padding-right: calc(var(--index-lv3-width));
}

.index__item:has(.index__lv3) .index__item__label::after {
  position: absolute;
  width: var(--index-after-width);
  content: "";
  padding-bottom: calc(var(--index-gap) + 1rem);
  bottom: 50%;
  color: var(--index-lines-color);
  background-color: var(--index-lines-color);
}

.index__item:has(.index__lv4) .index__item__label {
  margin: 0;
  margin-left: calc(0.5 * var(--index-drop-down-width) + 0.5 * var(--index-lv2-width) + 0.5 * var(--index-lv3-width));
  padding-right: calc(var(--index-lv4-width));
}

.index__item:has(.index__lv4) .index__item__label::after {
  position: absolute;
  width: var(--index-after-width);
  content: "";
  padding-bottom: 1.3rem;
  bottom: 50%;
  color: var(--index-lines-color);
  background-color: var(--index-lines-color);
}

.index__item__container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  gap: var(--index-gap);
}

.index__item {
  position: relative;
  display: inline-block;
  user-select: none;
  height: fit-content;
}

.index__item a {
  text-decoration: none;
  font-weight: 900;
  width: 100%;
  color: var(--index-text-color);
  border-radius: 6px;
}

.index__item a:hover {
  animation: index-hover 0.4s infinite both linear alternate;
}

/* #endregion */

.index label:last-child {
  position: relative;
  user-select: none;
  background-color: var(--main-color);
  height: 100%;
  color: var(--index-lines-color);
  display: flex;
  border-left: 1px solid color-mix(in srgb, var(--index-lines-color) 70%, #fff 30%);
}

.index label:last-child:hover {
  filter: brightness(0.9);
}

.index label:last-child span {
  position: absolute;
  top: 50%;
}

/* #region opened */
.index__close__button {
  display: flex;
  margin-left: 5px;
}

.index label:last-child:hover .index__close__button {
  animation: float 1s ease-in infinite;
}

.index label:last-child span:first-child {
  display: none;
}

/* #endregion */
/* #region closed */

.index:has(#index-close:checked) label span:first-child {
  display: flex;
}

.index:has(#index-close:checked) {
  width: fit-content;
}

.index:has(#index-close:checked) label:hover span:first-child {
  animation: float 1s ease-in infinite;
}

.index:has(#index-close:checked) :is(.index__close__button) {
  display: none;
}

.index:has(#index-close:checked) :is(.index__search__ul__container) {
  width: 0;
  padding-inline: 0;
  transition-duration: 0.2s;
  transition-property: padding, width;
}

.index:has(#index-close:checked) {
  min-width: fit-content;
}

/* #endregion */



/* #endregion */
/* #region box */
.box {
  position: relative;
  border-radius: 30px;
  background: radial-gradient(circle at 50% 55%,
      rgba(from var(--box--bg-color) r g b / 0.7),
      rgba(from var(--box--bg-color) r g b / 0.9) 60%),
    url(../imgs/code.png);
  max-width: 80%;
  width: auto;
  box-shadow: 0 0 5px #0002, 0 0 10px 2px #0001;
  margin: 0 auto;
  margin-bottom: 10px;
  --bd-color: hsl(from var(--box--bg-color) h 65 50);
  border: 4px solid var(--bd-color);
  display: flex;
  flex-direction: column;
}

.box__title {
  text-align: center;
  font-size: clamp(9px, 1.5rem, 2rem);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  margin-block: 0;
  background-color: var(--box--bg-color);
  padding: 5px 20px;
  background: var(--bg-color);
  border-bottom: 2px solid rgb(from var(--index-lines-color) r g b / 0.7);
}

.box__list {
  list-style: " ";
  padding-block: 0;
  width: fit-content;
  margin: 0 auto;
  place-content: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.box__list__item {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.box__list__item::before {
  position: absolute;
  font-size: 1rem;
  content: "remove";
  font-family: Material Symbols Outlined;
  left: -1rem;
}

.box__list__item:has(.box__selectable)::before {
  top: 0;
}

.box__text__container {
  padding: 10px 7px;
  color: var(--text-color);
}


.box__selectable::after {
  font-family: "Material Symbols Outlined";
  content: "help";
  font-size: 1rem;
  position: relative;
  padding-left: 2px;
  color: var(--selectable-color);
  font-weight: bold;
  animation: float-low 2s linear infinite both;
}

/*
  TODO: En JS, que se haga una transición del height o max-heihgt leyendo los valores en px, ya que si se pone auto o 100% no se puede hacer transición
*/
.box input[type="checkbox"]:checked~.box__explanation {
  height: auto;
  color: var(--text-color);
  transition: height .2s ;
}

.box__explanation {
  display: block;
  color: var(--text-color);
  transition: height .2s ;
  height: 0;
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 0;
  overflow: hidden;
  font-weight: normal;
  text-align: justify;
  position: relative;
}

/* Cuando se pueda abrir, el label de la lista tendrá un +, cuando se pueda cerrar, un - */
.--can-open label::before {
  content: 'add';
  position: absolute;
  font-size: 1rem;
  font-family: Material Symbols Outlined;
  left: -1rem;
}

.--can-open:has(input[type="checkbox"]:checked) label::before {
  content: 'remove';
}



/*
  TODO: QUE CON JAVASCRIPT LO DETECTE CUANDO PASE EL RATÓN SOBRE EL ICONO
*/
.box__selectable:focus+.box__explanation {
  display: inline;
  z-index: 1;
  cursor: pointer;
}

/* #endregion */
/* #region Code Box */
.code__box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  padding-inline: 15px;
  padding-block: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: var(--code-box-color);
  font-family: FiraCode;
  font-size: clamp(0.5rem, 1rem, 2rem);
  border: 1px solid #000;
  color: var(--code-color);
  font-weight: 100;
  box-shadow: 0 0 4px 0px #000;
  border: 1px solid #dadadae0;
  border-top: none;
}

.code__box__copy {
  position: relative;
  padding-inline: 10px 2px;
  padding-block: 0;
  align-self: start;
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 4px;
  margin-top: -15px;
}

.code__box__copy:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff6;
  border-right: 1px solid #fff6;
}

.code__box__copy__dialog {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: var(--bg-color);
  color: #000;
  font-family: var(--font);
  opacity: 0;
  cursor: default;
}

.code__box__copy:active+.code__box__copy__dialog {
  animation: disappear 0.5s linear;
}

.code__box__copy:active {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  translate: 1px -1px;
}

code {
  font-size: 1rem;
}

/* #endregion */
/* #region grid */
.grid {
  display: grid;
  gap: 20px;
  justify-content: center;
}

/* #endregion */
/* #region modificadores */
.--2cols {
  grid-template-columns: auto auto;
}

.--center {
  text-align: center;
}

.--mw500 {
  max-width: 500px;
}

/* #endregion */
@keyframes float {
  0% {
    translate: 0 -10px;
  }

  50% {
    translate: 0 10px;
  }

  100% {
    translate: 0 -10px;
  }
}

@keyframes float-low {
  0% {
    translate: 0 -10px;
  }

  50% {
    translate: 0 -7px;
  }

  100% {
    translate: 0 -10px;
  }
}

@keyframes index-hover {
  from {
    background-color: transparent;
  }

  to {
    background-color: hsl(from var(--index-color) h calc(s * 0.8) calc(l * 0.9));
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    translate: 0 0;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    translate: 0px -10px;
    opacity: 0;
  }
}

@font-face {
  font-family: FiraCode;
  src: url(Fonts/FiraCode.ttf);
}