* {
    text-align: center;
}

body {
    margin: 0 auto;
}

.obj__container {
    display: flex;
    flex-direction: column;
    background-color: #aaa;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 500px;


}

.obj__container h2 {
    margin: 0;
    color: rebeccapurple;
    text-align: center;
}

.img__container {
    display: flex;
    max-width: 700px;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    margin-inline: auto;
    overflow: hidden;
    margin-block: 10px;
}

.img__container:hover {
    cursor: pointer;
}

.img__container img {
    object-fit: cover;
    width: 100%;
    transition: scale .2s, filter .2s;
    user-select: none;
}

.img__container img:active {
    scale: 1.2;
    filter: contrast(2.2);
    transition: scale .2s, filter .2s;
}

.obj {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

}

.obj img {
    grid-column: span 2;
    margin: auto;
    max-width: 100%;
}

.obj button:last-child {
    grid-column: span 2;
}

.circle {
    border-radius: 50%;
    background-color: #00f;
    padding: 30px;
    display: inline-block;

}

.drag-zone {
    padding: 60px;
    background-color: #ddd;
    border: 3px dashed #aaa;
    width: 300px;
    margin: 0px auto;
    font-size: 30px;
    color: #222;
    box-sizing: border-box;

}

.texturizer {
    margin: 20px auto;
    max-width: 80dvw;
    width: 80%;
    --size: 64px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.samples__bar {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    user-select: none;
    gap: 10px;
}

.samples__imgs {
    flex-grow: 1;
    gap: 5px;
    overflow-x: auto;
    padding: 0 0;
    margin: 0 0;
    display: flex;
    justify-content: center;

}

.samples__bar label:has(input[type="file"]) {
    flex-grow: auto;
    background-color: #d6d6d6;
    width: auto;
    padding-inline: 2px;
    align-content: center;
    font-weight: bolder;
    font-size: 20px;
}

.samples__bar img {
    width: var(--size);
    height: var(--size);
    padding: 5px;
}

.texturizer .drag-zone {
    color: #fff;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 60px;
    -webkit-text-stroke: #da1919 2px;
    font-family: lato;
    padding-inline: initial;
    width: 100%;
}

.nombres__nombre__container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nombre__options button{
    background: none;
    border: none;
}

.imposible{
    color: #ddd;
}
.posible{
    color: #48e;
}
.posible:hover{
    color: #a2abfd;
}
.delete{
    color: #f00;
}
 .delete:hover{
    color: #ffa2a2;
 }

#match-media-box{
    max-width: 300px;
    background-color: #6e4;
    margin: auto;
    padding-block: 30px;
    margin-block: 30px;
    text-align: center;
    place-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.box__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.box__container .box{
    width: 300px;
    max-width: 300px;
    height: 300px;
    background-color: #48e;
    display: block;
    border: 4px dashed #248;
    padding-inline: 20px;
    text-shadow: 0 0 9px #000;
    color: #fff;  
    box-sizing: border-box;
    align-content: center;
}
.box__container .box:nth-child(2){
    background-color: #e84;
    border-color: #842;
}
.box__container .box:nth-child(3){
    background-color: #8e4;
    border-color: #482;
}
.box__container .box:nth-child(4){
    background-color: #e48;
    border-color: #824;
}
.box__publications .next{
    height: 10px;
    width: 100%;
}
 .box{
    max-width: 300px;
    height: 20px;
    background-color: #48e;
    border: 3px dashed #268c;
    color: #fff;  
    text-shadow: 0 0 9px #000;


}
.cursor__tracker{
    background-color: #0099ff00;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: fixed;
    top: 200px;
    left: 0;
    backdrop-filter:  invert()  ;
    z-index: 100;
    transition: width .4s, height .4s, border-radius .4s;
    pointer-events: none;
}
*:has(*:active) .cursor__tracker{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    transition: width .4s, height .4s, border-radius .4s;
}