<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../imgs/Logo.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>

<body>
    <header class="header">
        <div class="header__overlay"></div>
        <div class="header__item-container">
            <img src="../../imgs/suitedman.webp" alt="The party's sponsor" class="header__img">
            <h1>EVENTO EDICIÓN 2024</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime non quisquam perspiciatis hic, possimus
                repellat sint qui aut? Qui dolores voluptas consequatur, adipisci odio sint! Earum repudiandae illo eum
                repellendus!</p>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">About Us</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
                <li class="nav__item ">
                    <a href="#" class="nav__link link--login ">Log In</a>
                </li>
            </ul>
        </div>
        <div class="nav__logo-container">
            <img class="nav__logo" src="../../imgs/Logo.png" alt="">
        </div>
    </nav>
    <main>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit magni dicta vel eaque, delectus maxime voluptate? Praesentium rerum facere molestias perferendis, placeat veritatis, animi nobis aut quis, dolorum quae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae non dolore facilis repellat vel, omnis, quidem amet dicta molestias inventore repellendus delectus laborum tempore assumenda, illo pariatur nobis esse facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil, facilis quas vero asperiores, sit, deserunt necessitatibus beatae neque sed qui totam eveniet quisquam temporibus. Debitis voluptate voluptas et voluptatem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto, accusantium quisquam optio possimus sint eaque cupiditate quos fugiat quo voluptatibus assumenda soluta odit explicabo dignissimos nostrum debitis! Alias, ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam, fuga numquam delectus cumque temporibus officiis ab quas voluptates nulla quia soluta. Quae, inventore eveniet! Sit fugiat dicta voluptatem dolore?

    </main>
</body>

</html>