.clock__container{
    font-size: 40px;
    display: inline-block;
    position: relative;
    margin: 10px 10px;    
    display: flex;
}
.clock{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4e83e6;
    background-color: #4488ee6b;

}
.clock__container button {
    margin: auto 10px;
    padding: 5px;
    height: fit-content;
    background-color: #6ed39a;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}